@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove this line */
/* @import "react-calendar/dist/Calendar.css"; */

* {
  /* font-family: "M PLUS Rounded 1c", sans-serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
  /* tracking-tighter leading-tight  */
  /* letter-spacing: -0.05em;
  line-height: 1.25; */
}

.active {
  text-decoration: underline;
}

/* globals.css */
/* Add this to your Tailwind CSS config if you're using custom classes */
@layer utilities {
  .hidden-navbar {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .visible-navbar {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
}

.background-image-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: #3e3f40; */
  /* background-image: url("/assets/images/slatebg.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background: #3e3f40;
  background-image: url("/assets/images/slatebg.png");
}

h1 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: #ffffff;
  /* margin-bottom: 1rem; */
}

h2 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: #ffffff;
  /* margin-bottom: 1rem; */
}

h3 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: #ffffff;
  /* margin-bottom: 1rem; */
}

* {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* Calendar Styles */
/* .react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222 !important;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  color: #222 !important;
}

.react-calendar__tile {
  color: #222 !important;
  background: none;
}

.react-calendar * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
} */
